body {
    /* background-image: url(photo-1582489853490-cd3a53eb4530.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  .navbar-brand {
    font-size: 0.3rem;
    
  }
  .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
  
  .nav-item {
    margin-left: 130px;
    width: 0.625rem;
    font-size: x-large;
    color: #000000;
  }
  
  .nav-link:hover {
    transform: scale(1.1);
    transition: all 0.15s linear;
  }

  .from-outline{
    width: 2.25rem;
  }
  
  #search-input,
  #search-button {
    height: 2.375rem;

    
  }
  #search-button{
    background-color: #000000da;
    border-radius: 5px;
    
  }
  
  #search-input {
    border: none;
    border-radius: 0.625rem;
    margin-left: 15.625rem;
    width: 9.375rem;
    height: 2.25rem;
    color: #000000;
    
    
  }
  
  .navbar-nav {
    align-items: center;
    color: #000000;
  }
  /* CSS */
  .contact-us {
    background-color: #a8cee952;
    border: 1px solid transparent;
    border-radius: 0.3125rem;
    border-width: 0rem;
    
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
      sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .contact-us:hover,
  .contact-us:focus {
    background-color: rgb(112, 166, 204);
  }
  
  .contact-us:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 149, 255, 0.15);
  }
  
  .contact-us:active {
    background-color: #7fafda;
    box-shadow: none;
  }
  
  .form-control {
    font-size: 1rem;
    height: 2.375rem !important;

  }
  
  .hero-text {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 6.25rem;
    left: 3.125rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    
    
  }
  .login{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 6.25rem;
    top: 6.25rem;
    
  }
  
  .login a{
    margin-top: 1.4375rem;
    font-size: 1.625rem;
    font-weight: 500;
    text-decoration: none;
    
    color: #ffffff;
    transition: all 0.3s ease;
  }
  .menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2.5rem;
    top: 6.25rem;
  }
  .menu a{
    margin-top: 1.4375rem;
    font-size: 1.625rem;
    font-weight: 500;
    text-decoration: none;
    
    color: #ffffff;
    transition: all 0.3s ease;
  }

  .setting{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10rem;
    top: 6.25rem;

  }
  a {
    color: #e7ebf1;
    /* font-size: 22px; */
    text-decoration: underline;
}
  .setting a{
    margin-top: 1.4375rem;
    font-size: 1.625rem;
    font-weight: 500;
    text-decoration: none;
    
    color: #ffffff;
    transition: all 0.3s ease;

  }
  .media-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 2.5rem;
    bottom: 2.5rem;
    
    
  }
  .media-icons a {
    margin-top: 2.5rem;
    font-size: 1.625rem;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.7;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  .media-icons a:hover {
    opacity: 1;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    border-style: hidden;
    /* background-image: linear-gradient(90deg, #ca8e4ac5 10%, #5957ccad 80%); */
    background-color: rgba(94, 111, 168, 0.212);
    
}

@media(max-width:988px) {
  html{
    font-size: 55%;
  }
}

@media(max-width:768px){
  html{
    font-size: 45%;
  }
}